<%= form_with(model: lead) do |form| %>
  <% if lead.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(lead.errors.count, "error") %> prohibited this lead from being saved:</h2>

      <ul>
        <% lead.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-field">
    <%= form.text_field :name, placeholder:"Name" %>
  </div>

  <div class="form-field">
    
    <%= form.text_field :email, placeholder:"Email"  %>
  </div>

  <div class="form-field">
    <%= form.text_field :phone, placeholder:"Phone (xxx-xxx-xxxx)"  %>
  </div>

  <div class="form-field">
    <%= form.text_field :lines, placeholder:"Lines"  %>
  </div>

  <div class="form-field">
    <%= form.text_area :notes, placeholder:"Notes"  %>
  </div>

  <div>
      <%= form.number_field :user_id, id: :lead_user_id, value:current_user.id, type: :hidden %>
  </div>

  <div>
    <%= form.submit class:"btn-flat" %>
  </div>
<% end %>
