<div id="<%= dom_id lead %>">
  <div class="row-center col-8 col-s-12">
    <div class="td">
      <%= lead.name %>
    </div>
    <div class="td">
      <%= lead.email %>
    </div>
    <div class="td">
      <%= lead.phone %>
    </div>
    <div class="td">
      <%= lead.lines %>
    </div>
  </div>
  <div class="row-center col-8 col-s-12">
    <div class="noterow">
      <%= lead.notes %>
    </div>
  </div>
</div>
